<feed  xmlns="http://www.w3.org/2005/Atom" >
  <title><%=h @user.username %> is Available To Pair</title>
  <id><%= http_root %>/<%= h @user.username%></id>
  <link href="<%= http_root %>/<%= CGI::escape(@user.username)%>.atom" rel="self" />
  <link href="<%= http_root %>/<%= CGI::escape(@user.username)%>" />
<%= render :partial => 'availabilities/atom' %>
</feed>
