<feed  xmlns="http://www.w3.org/2005/Atom" >
  <title><%= user %> is Available To Pair</title>
  <id><%= http_root %>/<%= user%></id>
  <link href="<%= http_root %>/<%= user%>.atom" rel="self" />
  <link href="<%= http_root %>/<%= user%>" />
  <author>
    <name>Available To Pair</name>
    <email>noreply@availabletopair.com</email>
  </author>
  <% unless @availabilities.length == 0 %>
  <updated><%=h @availabilities[0].updated_at.xmlschema %></updated>
  <%end%>
  <% @availabilities.each do |availability| %>
  <entry>
    <title type="text" >Pairs available for <%=h display_when(availability) %> (updated: <%= display_date_time(availability.updated_at)%>)</title>
    <link href="<%= http_root %>/availabilities/<%=h availability.id %>" />
    <published><%=h availability.updated_at.xmlschema %></published>
    <updated><%=h availability.updated_at.xmlschema %></updated>
    <id>http://availabletopair.com/<%=h availability.id %>/<%=h availability.updated_at.xmlschema %></id>
    <content type="html">
        <![CDATA[
        <% if availability.pairs.length == 0 %>
            No developers are available to pair on <%= project_link(availability) %> with <%=h availability.developer %> on <a href="<%= http_root %>/availabilities/<%=h availability.id %>"><%=h display_when(availability) %></a>.
        <% else %>
            The following developers are available to pair on <%= project_link(availability) %> with <%=h availability.developer %> on <a href="<%= http_root %>/availabilities/<%=h availability.id %>"><%=h display_when(availability) %></a>:
            <ul>
              <% availability.pairs.each do |pair| %>
              <li><%=h display_duration(pair) %> from <%=h display_when_time(pair) %> - <%= h pair.developer %> on <%=h display_project(pair) %></li>
              <% end %>
            </ul>
        <% end %>
        ]]>  
    </content>
  </entry><% end %>
</feed>
