<h1>All <%= user %>'s availability</h1>

<table class="availabilities">
  <tr>
    <th>Who</th>
    <th>What</th>
    <th>When</th>
    <th>How long</th>
    <th>Pairs available</th>
    <th colspan="2">&nbsp;</th>
  </tr>

<% @availabilities.each do |availability| %>
  <tr>
    <td><%=h availability.developer %></td>
    <td><%= project_link(availability) %></td>
    <td><%= link_to(display_when(availability),availability) %></td>
    <td><%=h display_duration(availability) %></td>
    <td><%= pairs_link(availability) %></td>
    <td><%= link_to 'Edit', edit_availability_path(availability) %></td>
    <td><%= link_to 'Delete', availability, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<p>Subscribe to updates of <%=user %>'s available pairs (<a href="/<%=user.downcase%>.atom">atom</a>)</p>
<div class="nav">
    <%= link_to 'Make yourself available', new_availability_path %>
</div>