<% content_for :head_links do %>
    <link href="<%=http_root%>/tags/<%=CGI::escape(@tag)%>.atom" title="Available to Pair - Atom" type="application/atom+xml" rel="alternate"/>
<% end %>

<h1>Availabilities for tag: <%=h @tag %></h1>

<table class="availabilities">
  <tr>
    <th>Who</th>
    <th>What</th>
    <th>Tags</th>
    <th>When</th>
    <th>How long</th>
    <th>Pairs available</th>
    <th>Updated</th>
    <th colspan="2">&nbsp;</th>
  </tr>
<%= render :partial => '/availabilities/list' %>
</table>
<p>Subscribe to available pairs for <%=h @tag %> (<a href="/tags/<%= CGI::escape(@tag)%>.atom">atom</a>)</p>
<div class="nav">
    <%= link_to 'Make yourself available', new_availability_path %>
</div>