<h1>Sign in</h1>

<%= devise_error_messages! %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <p><%= f.label :username %><br />
  <%= f.text_field :username %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me, :style => 'width:auto ! important' %> <%= f.label :remember_me %></p>
  <% end -%>

  <p><%= f.submit "Sign in", :style => 'width:auto ! important'  %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>