<h1>Login</h1>

<% form_for @user_session do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :openid_identifier, '<a href="http://openid.net/what/">OpenID</a> URL' %> <br />
    <%= f.text_field :openid_identifier %>
  </p>
  <p class="submit"><%= f.submit "Login" %></p>

<% end %>
<div class="nav">
  <%= link_to('New user?', new_user_url)%> | <%= link_to 'Cancel', availabilities_path %>
</div>