<h1>Editing availability</h1>

<% form_for(@availability) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :project, 'Project' %>(optional)<br />
    <%= f.text_field :project %>
  </p>
  <p>
    <%= f.label :tags, 'Tags' %>(optional, comma seperated) - e.g. programming languages, spoken languages, interests, trends<br />
    <%= f.text_field(:tags, :value => @availability.tags.join(','))  %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time, {:minute_step => 15} %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time, {:minute_step => 15} %>
  </p>
  <p class="submit">
    <%= f.submit 'Update' %>
  </p>
<% end %>

<div class="nav">
    <%= link_to 'Home', availabilities_path %>
</div>