<h1>Listing availabilities</h1>

<table class="availabilities">
  <tr>
    <th>Developer</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Contact</th>
  </tr>

<% @availabilities.each do |availability| %>
  <tr>
    <td><%=h availability.developer %></td>
    <td><%= link_to availability.start_time, availability %></td>
    <td><%=h availability.end_time %></td>
    <td><%=h availability.contact %></td>
    <td><%= link_to 'Edit', edit_availability_path(availability) %></td>
    <td><%= link_to 'Destroy', availability, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Make yourself available to pair', new_availability_path %>