<h1>New availability</h1>

<% form_for(@availability) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :developer %><br />
    <%= f.text_field :developer %>
  </p>
  <p>
    <%= f.label :project %><br />
    <%= f.text_field :project %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </p>
  <p>
    <%= f.label :contact %><br />
    <%= f.text_field :contact %>
  </p>
  <p>
    <%= f.submit 'Publish availability' %>
  </p>
<% end %>

<div class="nav">
  <%= link_to 'Home', availabilities_path %>
</div>