<h1><%=h @availability.developer %> is available to pair on <%= display_project(@availability) %> for <span class="duration"><%= display_duration(@availability) %></span> from <span class="time"><%=h display_when(@availability) %></span></h1>
<% if @availability.pairs.length == 0 %>
    <p>
      No developers are available to pair on <%= display_project(@availability) %> with <%=h @availability.developer %> over this period.
    </p>
<% else %>
    <p>
      The following developers are available to pair on <%= display_project(@availability) %> with <%=h @availability.developer %> over this period:
    </p>

    <table class="pairs">
      <tr>
        <th>Who</th>
        <th>What</th>
        <th>When</th>
        <th>Dev time</th>
        <th>Contact</th>
      </tr>

    <% @availability.pairs.each do |pair| %>
      <tr>
        <td><%=h pair.developer %></td>
        <td><%= project_link(pair) %></td>
        <td><%=h display_when(pair) %></td>
        <td><%=h display_duration(pair) %></td>
        <td><%= contact_link(pair) %></td>
      </tr>
    <% end %>
    </table>
<% end %>
<br />

<%= link_to 'Back', availabilities_path %>
