<h1><%= link_to(h(@availability.developer),"/" + h(@availability.developer)) %> is available to pair on <%= project_link(@availability) %> for <span class="duration"><%= display_duration(@availability) %></span> from <span class="time"><%=h display_when(@availability) %></span> | <%= link_to 'Edit', edit_availability_path(@availability) %></h1>
<% if @availability.pairs.length == 0 %>
    <p>
      No developers are available to pair on <%= project_link(@availability) %> with <%= link_to(h(@availability.developer),"/" + h(@availability.developer)) %> over this period.
    </p>
<% else %>
    <p>
      Available to pair with <%= link_to(h(@availability.developer),"/" + h(@availability.developer)) %>:
    </p>

    <table class="pairs">
      <tr>
        <th>Who</th>
        <th>What</th>
        <th>When</th>
        <th>Dev time</th>
        <th>Updated</th>
        <th>Contact</th>
      </tr>

    <% @availability.pairs.each do |pair| %>
      <tr>
        <td><%= link_to(h(pair.developer),"/" + h(pair.developer)) %></td>
        <td><%= project_link(pair) %></td>
        <td><%=h display_when(pair) %></td>
        <td><%=h display_duration(pair) %></td>
        <td><%= display_date_time(pair.updated_at) %></td>
        <td><%= contact_link(pair) %></td>
      </tr>
    <% end %>
    </table>
<% end %>
<p>Subscribe to updates of <%=h @availability.developer %>'s available pairs (<a href="/<%=h @availability.developer%>.atom">atom</a>)</p>
<div class="nav">
  <%= link_to 'Home', availabilities_path %> | <%= link_to 'Make yourself available', new_availability_path %>
</div>
