<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Available To Pair - <%= h(yield(:title) || "matchmaking for Extreme Programmers") %></title>
  <%= stylesheet_link_tag 'all' %>
  <%= yield(:head_links) %>
</head>
<body>
    <div id="header">
      <div id="logo"><a href="/">Available To Pair</a></div>
      <div id="how">
        <a href="http://c2.com/cgi/wiki?VirtualPairProgramming">How?</a>
      </div>
      <div class="clear">&nbsp;</div>
      <div id="tagline"> - matchmaking for Extreme Programmers</div>
      <div id="user_nav">
        <% if current_user %>
          <%=h(current_user.username) %> |
          <%= link_to "Profile", '/users/edit' %> |
          <%= link_to("Logout", destroy_user_session_path, :method => :get) %>
        <% else %>
          <%= link_to "Register", '/users/sign_up' %> |
          <%= link_to "Login", '/users/sign_in' %>
        <% end %>
      </div>
      <div class="clear">&nbsp;</div>
    </div>
    <p style="color: green"><%= flash[:notice] %></p>
    <p style="color: red"><%= flash[:alert] %></p>	
    <p style="color: red"><%= flash[:error] %></p>


<%= yield %>
<% if ENV['RAILS_ENV'] == "production" %>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-11197967-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
<% end %>
</body>
</html>
